@page "/"

<PageTitle>Inicio</PageTitle>

<html lang="es">
    <head>
        <title>Fondo Full-Screen</title>
        <style>
            html, body {
                height: 100vh; /* Altura completa de la pantalla */
                width: 100%;   /* Ancho completo */
                margin: 0;
                padding: 0;
                background-color: rgb(255, 255, 255);
            }
        </style>
    </head>
    <body>
        <div style="text-align: center;">
        <h1>Proyecto de Aula</h1>
            Estudiantes:<br>
            -Juan Sebastian Murillo Lopera<br>
            -Juan Pablo Salazar Arbelaez<br>
            -Juan Felipe Duque Muñoz<br>
            -Daniel Aaron Valencia Cardenas<br><br>
            <br><br><br>
            
            <h1>Entregable 1</h1>
            <div style="text-align: center;">
                -	Desarrollo de formularios CRUD (crear, leer, actualizar, eliminar) para las tablas que no tienen claves foráneas (ej. TipoProyecto, Persona, Estado, TransformaciónInstitucional).<br>
                -	Validación de datos básicos en formularios.<br>
                -	Documentación breve del diseño de la interfaz y justificación del framework seleccionado.<br><br><br><br>

            <img src="/itm.png" alt="ITM" width="300">
            </div>
        </div>
        
    </body>
</html>